/**
 * create by yangran on 2018/3/1
 */

#login
  background-image url('../../common/image/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-form
    width 300px
  .login-form-button
    width 100%
